h2{
	color:#EDD9FC;  
	font-family: Gabriola;
	font-size: 25px;
}
h1{
	color:#EDD9FC; 
	font-family: Cambria;
	font-size: 25px;
}
body{
	background-color: rgb(120,210,238); 
	color:#EDD9FC; 
	font-family: Gabriola;
	font-size: 25px;
}